body {
    background-color: #4A235A;   
}
h4 {
    text-align: center;
    font-size: 1cm;
    text-shadow: rgb(101, 202, 241) 0.2mm 0.4mm;
    color: rgb(0, 0, 0);
}
 
form {
 
    width: 500px;
    background-color: #4A235A;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
} 
input {
    margin-bottom: 0.2cm;
    border-radius: 0.25cm;
    border: 0.1cm solid #4A235A;
    text-align: center;
 
}
